.wrapper {
  max-width: 46rem;

  margin: 0 auto;
  padding: 0 1rem;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -1.6875rem;
}

.taskCounterContainer {
  margin-top: 4rem;
  margin-bottom: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
